.back-img img{
    height: 1024px;
    width: 100%;   
    position: relative;
    background: linear-gradient(
        243deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 0.01%,
        rgba(0, 0, 0, 0) 100%
      ),
}

.Main-Register-form{
    height: 720px;
    right: 8%;
    position: absolute;
    top: 15%;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.Back-To-Login{
    margin-top: 7%;
    margin-left: 35px;
    margin-right: 35px;
}
.Back-To-Login button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.Box-heder1{
    color: white;
    margin-left: 8%;
    margin-right: 8%;
}

.Box1{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: -4%;
}

.Box1 input{
    width: 192px;
    height: 40px;
    margin-top: 3%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    outline: none;
    padding: 3%;
    font-weight: bold;
    color: white;
}

.Box2{
    display:flex;
    align-items: center;
    width: 100%;
}
.Email{
    width: 200px;
    left: 20%;
}

.Email input{
    width: 420px;
    height: 40px;
    margin-left: 19%;
    margin-top: 3%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    outline: none;
    padding: 3%;
    font-weight: bold;
    color: white;
    margin-right:  19%;
}

.Info{
    position: relative;
    width: 50px;
    height: 35px;
    margin-top: 4%;
    text-decoration:solid;
    color: white;
    margin-left: 235px;
    margin-right:  235px;
}
.HoverMessage{
    position: absolute;
    font-size: 12px;
    font-weight: 400px;
    color: black;
    border: 1px solid white;
    background-color: white;
    width: 200px;
    height: 45px;
    top: -55px;
    margin-left: -190px;
    margin-right: 10px;
}

.arrow-down{
    top: 100%;
    position: absolute;
    right: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffff;
    float: left;
}

.Box3{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.CountryList select{
  width: 80px;
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
  border: 1px solid #ccc;
  outline: none;
  font-weight: bold;
  padding: 1%;
  cursor: pointer;
  background-color: transparent;
}

.CountryList select option{
    color: black;
}

.Number input{ 
  width: 300px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid #ccc;
  outline: none;
  font-weight: bold;
  padding: 1%;
}

.Box4{
    align-items: center;
    width: 100%;
}

.Box4 .Password input{
    position: relative;
    width: 410px;
    height: 40px;
    margin-left: 8%;
    margin-top: 3%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    outline: none;
    padding: 2%;
    font-weight: bold;
    color: white;
    margin-right: 8%;
}

.tooggle-password1{
    position: absolute;
    right: 35px;
    top: 55.5%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    text-decoration: underline;
}
.Show_passwordbutton{
    right: 420px;
    top: 396px;
}

.Password-Validation{
   position: absolute;
    top: 270px;
    left: -315px;
    right: 490px;
    height: 175px;
    width: 320px;
    background-color: white;
    color: black;
}
.Password-Validation h6{
    font-size: medium;
    margin-left: 70px;
    margin-right: 40px;
    margin-top: 10px;
    height: 20px;
}
.Line{
    color: black;
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -15px;
}
.requirements{
    margin-top: -20px;
    font-family: "Sofia Pro";
    color: #263238;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.59px;
}
.requirements li::marker{  
    content: none;
    margin-top: 10px;
}

.right-arrow{
    position: absolute;
    color: white;
    border-left: 8px solid white;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    margin-top: -50px;
    margin-left: 320px;
    margin-right: -8px;
}

.Box5{
    display:flex;
    align-items: center;
    width: 100%;
}

.Box5 input{
    width: 410px;
    height: 40px;
    margin-left: 10%;
    margin-top: 3%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    outline: none;
    padding: 2%;
    font-weight: bold;
    color: white;
    margin-right: 10%;
}

.tooggle-password-confim{
    position: absolute;
    right: 35px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    text-decoration: underline;
    bottom: 210px;
}
.Confrim-Paswsword-arabic{
    right: 420px;
}
.Box6{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: -5%;
}
.CheckBox{
    width: 80px;
}
.CheckBox input{
    width: 24px;
    height: 24px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}
.transparent-checkbox {
    opacity: 0.5;
}

.Notice h6{
    color: white;
    margin-right: 20px;
    left: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    font-family: "Sofia Pro-Reguler", Helvetica
}

.SubmitButton {
    display: flex;
    justify-content: center;
    margin-top: -5%;
  }

.SubmitButton button{
    border: none;
}

  