.back-img img{
    height: 1024px;
    width: 100%;   
    position: relative;
}

.Header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 0;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 10px 0px #000000; 
    box-shadow: 0px 0px 10px 0px #000000;
}
.Logo-watani{
    color: white;
    margin-left: -35%;
    height: 40px;
    left: 0;
}

.EN{
    color: white;
    margin-right: 5%;
    height: 20px;
    position: relative;
}

.Main-Register-form{
    display: flex;
    justify-content: center;
    height: 700px;
    right: 5%;
    position: absolute;
    top: 20%;
    width: 550px;
    opacity: 0.6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}
.Box-heder1{
    color: white;
}

.LeftArrow{
    color:white;
}

.Box1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Box1 input{
    width: 200px;
    height: 35px;
    margin-left: 10px;
    margin-top: 2%;
    background-color: transparent;
    text-decoration:solid;
    color: white;
}

.Box2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Email{
    width: 200px;
    left: 20%;
}

.Email input{
    width: 300px;
    height: 35px;
    margin-left: -10px;
    margin-top: 3%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    outline: none;
    padding: 3%;
    font-weight: bold;
    color: white;
}

/* .Info{
    width: 50px;
    height: 35px;
    margin-left: 10px;
    margin-top: 2%;
    text-decoration:solid;
    color: white;
} */

.Box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Box3 input{
    width: 200px;
    height: 35px;
    margin-left: 10px;
    margin-top: 2%;
    text-decoration:solid;
    color: white;
    background-color: transparent;
}

.Box4{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Box4 input{
    width: 450px;
    height: 35px;
    margin-left: 10px;
    margin-top: 2%;
    background-color: transparent;
    text-decoration:solid;
    color: white;
}

.Box5{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Box5 input{
    width: 450px;
    height: 35px;
    margin-left: 10px;
    margin-top: 2%;
    background-color: transparent;
    text-decoration:solid;
    color: white;
}

.Box6{
    display:flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    text-decoration:solid;
    color: white;
}
.Box6 input {
    display: flex;
    flex-direction: row;
    
}

.SubmitButton {
    display: flex;
    justify-content: center;
    margin-top: -5%;
  }

  
  